@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, 
        #e6f3ff 0%,
        #b3e0ff 15%,
        #e1f5fe 30%,
        #b3e0ff 45%,
        #e3f2fd 60%,
        #e1f5fe 75%,
        #e6f3ff 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 17s ease infinite;
    color: #000000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}