.edu-tag {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    background: linear-gradient(200deg, #6d7f92, #266087);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.education {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.education-card {
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 1.5rem;
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.education-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.education-card h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #1a2634;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.education-card h5{
    font-weight: 700;
    background: linear-gradient(45deg, #5c81a5, #030f17);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.education-card p {
    text-align: center;
    font-size: 1rem;
    color: #3498db;
    margin: 0.5rem 0;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
    .education {
        gap: 1rem;
    }
    
    .education-card {
        width: 100%;
        max-width: 300px;
    }
}